.navbar-trevligheten
{
  margin-top: 80px;
  /*background-color: transparent;*/
  /*border-color: transparent;*/
  .title {
    /*color:black;*/
    &:hover {
      text-decoration: none;
    }
    h2 {
      margin-top: 3px;
    }
  }
}

.aboutpic
{
  max-width: 150px;
}
.about-link
{
  margin-right: 10px;
}
.project_title
{
  /*color: black;*/
  &:hover{
    text-decoration: none;
    color: black;
  }
}
.instapic{
  @extend .img-responsive;
  float: left;
  @media(min-width:768px){
    width: 25%;
  }
  @media(max-width:767px){
    width: 50%;
  }
}
.flickpic{
  @extend .img-responsive;
  float: left;
  max-height: 200px;
}
